@{
    ViewData["Title"] = "Emaili Yoxlayın";
}
<div class="container text-center py-5 my-5 min-vh-50">
    <i class="fas fa-envelope-open-text fa-5x text-warning mb-4"></i>
    <h2 class="fw-bold">Qeydiyyat Uğurla Tamamlandı!</h2>
    <p class="lead text-muted mt-3">Hesabınızı aktivləşdirmək üçün zəhmət olmasa email qutunuzu yoxlayın və sizə göndərdiyimiz təsdiq linkinə klikləyin.</p>
    <a href="/Home/Index" class="btn btn-outline-dark mt-3">Ana Səhifəyə Qayıt</a>
</div>