@model ResetPasswordVM
@{
    ViewData["Title"] = "Yeni Şifrə Təyin Et";
}

<div class="container py-5 min-vh-50 d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-lg-5 card shadow-sm border-0 p-4">
        <h3 class="text-center text-success fw-bold mb-4">Yeni Şifrə</h3>

        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Yeni Şifrə</label>
                <input asp-for="Password" class="form-control form-control-lg" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="mb-4">
                <label asp-for="ConfirmPassword" class="form-label">Şifrəni Təsdiqlə</label>
                <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
            </div>
            <button type="submit" class="btn btn-success btn-lg w-100">Şifrəni Yenilə</button>
        </form>
    </div>
</div>